@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(40, 39, 46) !important;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border:2px solid gray;
  border-radius: 2.75rem;
   font-family: "Martian Mono", monospace;
}

h6 {
  color: rgba(255, 255, 255, 0.61) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.61);
}

